{% extends "admin/layout.html" %}
{% block content %}

<div class="col-md-12" style="margin-left: -4%">
<header>
    <h2>Formulário</h2>
</header>
<span style="display: none" id="csrf_token">{{ csrf_token() }}</span>
<div>
   Avaliações encerradas
</div>
</div>

{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
<script src="{{url_for('static', filename='app.js')}}" type="text/babel"></script>
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/posgraduacao/css/autocomplete.css"/>
{% endblock %}

