{% extends "admin/layout.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/posgraduacao/css/{{ post_graduation }}.css"/>
{% endblock %}

{% block scripts %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("input[name=create]").val("Deletar");
    var magazines = {{ magazines|tojson|safe }};
    var magazines = JSON.parse(magazines);
    console.log(magazines);
    var listOfMagazines = [];
    for( i = 0; i < magazines.length; i++){
        if (!(magazines[i].hasOwnProperty('deleted'))){
            listOfMagazines.push({
                id: i,
                text: (magazines[i].name)
            })
        }
    }
    
    $("#list").select2({
        data: listOfMagazines 
    });

    $("button").click(function(){
        var indexInMagazines = $("select#list").val();
        $("#form-edit").css("visibility", "visible");
        $("input[name=name]").val(magazines[indexInMagazines].name);
        $("input[name=issn]").val(magazines[indexInMagazines].issn);
        $("textarea[name=description]").val(magazines[indexInMagazines].description);
        $("input[name=index]").val(indexInMagazines);
    });

});
</script>
{% endblock %}

{% block content %}
<div class="col-md-12">
<div class="panel panel-danger" style="margin-left: -4%">
<div class="panel-heading text-center">
    <h4>Deletar periódico<h4/>
</div>
<div class="panel-body">
<div class="col-md-10">
<h5>Selecione o periódico</h5>
<select id="list"></select>
</br>
</br>
<button id="edit" type="button" class="btn btn-default">Selecionar</button>
</div>
<div class="col-md-10">
    <form method="POST" id="form-edit" action="{{ url_for('crud_magazines.delete_magazine') }}">
    <div class="form-group">
    {{ form.csrf_token }}
    {{ form.index(required='true', style="display:none;", readonly="readonly") }}
    {{ form.name.label }}<br/>
    {{ form.name(required='true', placeholder="Ex: InVerbis", class="form-control", readonly="readonly") }}
    <br/>
    {{ form.description.label }}<br/>
    {{ form.description(required='true', class="form-control", readonly="readonly") }}
    <br/>
    {{ form.issn.label }}<br/>
    {{ form.issn(required='true', placeholder="Ex: ISSN 2176-9036", class="form-control", readonly="readonly") }}
    <br/>
    {{ form.create(class="form-control") }}
    </div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
