{% extends "admin/layout.html" %}
{% block styles %}
<style>
@media(max-width: 375px) {
    .col-md-4 {
        margin-top: 30%;
    }
}
</style>
{% endblock %}
{% block content %}
<div class="col-md-4 col-md-offset-6" style="padding-left: 5%">
<header class="text-center">
    <h2>Nova senha</h2>
</header>

<form method="POST" action="{{ url_for('admin.change_password') }}">
    <div class="form-group">
    {{ form.csrf_token }}
    {{ form.key(required="true", style="display: none;") }}
    
    {{ form.password_one.label }}<br/>
    {{ form.password_one(required='true', class="form-control") }}

    <br/>

    {{ form.password_two.label }}<br/>
    {{ form.password_two(required='true', class="form-control") }}

    <br/>

    <input type="submit" value="Entrar" class="form-control">
    </div>
</form>

<p>
    Você pode <a onclick="window.history.go(-1); return false;" href="#">voltar à página anterior</a>.
</p>

</div>
</div>
</div>
{% endblock %}
